<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Добре дошли!</h1>
                <!-- <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,
                    the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p> -->
            </div>
        </div>
    </section>
    @if (this.articlesLoaded | async) {
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                @if (articleCardList.length != 0) {
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <app-article-card *ngFor="let articleCard of articleCardList" [articleCard]="articleCard"></app-article-card>
                    </div>
                }
                @else {
                    <p style="font-size: large;"><strong>Нямате нищо в вашата информационна лента!</strong></p>
                }
            </div>
        </div>
    }
    @else {
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="d-flex align-items-center">
                    <strong role="status">Loading...</strong>
                    <div class="spinner-grow ms-auto" aria-hidden="true"></div>
                </div>
            </div>
        </div>
    }
</main>