<div class="col">
    <div class="card shadow-sm">
        <img [src]="articleCard.item_image" class="bd-placeholder-img card-img-top" width="100%" height="300" style="object-fit:cover" onerror='this.style.display = "none"'>
        <div class="card-body">
            <h5 class="card-title">{{articleCard.item_title}}</h5>
            <p class="card-text truncate">{{articleCard.summary.trim()}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-sm btn-outline-secondary stretched-link" href="{{articleCard.item_url}}">Read Article</a>
                <small class="text-body-secondary">{{articleCard.published}}</small>
            </div>
        </div>
    </div>
</div>