<section id="content" class="d-flex text-center text-bg-dark align-items-center">
    <div class="cover-container d-flex w-100 h-300 p-3 mx-auto flex-column" style="height:  100vh;">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">
                    <img src="../../../favicon.ico" height="50" width="50">
                    News Source
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">Начало</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Функции</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">За нас</a>
                    <a class="btn fw-bold py-1 btn-light" href="/login">Вход</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Добре дошли при News Source!</h1>
            <p class="lead">Новинарската платформа, която предоставя обширен избор от актуални новини и информация от различни източници, представени на едно място. 
                Събираме статии от водещи новинарски сайтове, блогове и други източници, за да ви предоставим бърз достъп до разнообразна информация от цял свят.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Научете повече</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Приложението е създадено чрез <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a> от <a
                    href="#" class="text-white">Nsgshsk</a>.</p>
        </footer>
    </div>
</section>